<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping Cart</title>
  <!-- Favicon-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="icon" type="image/x-icon" href="../static/favicon.ico" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../styles.css" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-light bg-light sticky-top" >
  <a class="navbar-brand" href="index.html">BestBuyKamps</a>
  <form class="form-inline">
    <button type="button" class="btn btn-outline-secondary mr-3">Products</button>
    <button type="button" class="btn btn-outline-secondary mr-3">Sale</button>
    <button type="button" class="btn btn-outline-secondary mr-3">Log in</button>
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>



<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-xs-6">
                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
              </div>
              <div class="col-xs-6">
                <a href="/" class="btn btn-primary btn-sm btn-block">
                  <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <!-- Tutaj generuj dynamicznie listę produktów z koszyka -->
          <div th:each="cartItem : ${cartItems}" class="row">
            <div class="col-xs-2"><img class="img-responsive" th:src="@{${cartItem.product.imagePath}}" /></div>
            <div class="col-xs-4">
              <h4 class="product-name" th:text="${cartItem.product.name}"></h4>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-6 text-right">
                <h6><strong>x</strong><span class="text-muted" th:text="${cartItem.quantity}"></span></h6>
              </div>
              <div class="col-xs-6">
                <form th:action="@{/cart/products/plus}" method="post">
                  <input type="hidden" name="cartId" th:value="${cartId}" />
                  <input type="hidden" name="productId" th:value="${cartItem.product.id}" />
                  <button type="submit" class="btn btn-success btn-xs">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>

                <form th:action="@{/cart/products/remove}" method="post">
                  <input type="hidden" name="cartId" th:value="1" />
                  <input type="hidden" name="productId" th:value="${cartItem.product.id}" />
                  <button type="submit" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>

                <form th:action="@{/cart/products/delete}" method="post">
                  <input type="hidden" name="cartId" th:value="1" />
                  <input type="hidden" name="productId" th:value="${cartItem.product.id}" />
                  <button type="submit" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- Koniec listy produktów z koszyka -->
          <hr>
        </div>
        <div class="panel-footer">
          <div class="row text-center">
            <div class="col-xs-9">
              <h4 class="text-right" >Total $<span th:text="${totalCartValue}"></span></h4>
            </div>
            <div class="col-xs-3">
              <button type="button" class="btn btn-success btn-block" onclick="window.location.href='/checkout'">
                Checkout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Footer-->
<section class="fixed-bottom mb-1 bg-dark p-1 ">
            <span id="icons-footer">
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-0" href="https://www.linkedin.com/in/paweł-janowicz-4238a2223" role="button"><i class="bi bi-linkedin"></i></a>

              <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-0" href="https://github.com/PawelJanowicz1" role="button"><i class="bi bi-github"></i></a>
                </span>
</section>
<script src="/templates/js/scripts.js"></script>
</body>
</html>