<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping Cart</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-xs-6">
                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
              </div>
              <div class="col-xs-6">
                <a href="/" class="btn btn-primary btn-sm btn-block">
                  <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <!-- Tutaj generuj dynamicznie listę produktów z koszyka -->
          <div th:each="cartItem : ${cartItems}" class="row">
            <div class="col-xs-2"><img class="img-responsive" th:src="@{${cartItem.product.imagePath}}" /></div>
            <div class="col-xs-4">
              <h4 class="product-name" th:text="${cartItem.product.name}"></h4>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-6 text-right">
                <h6><strong>ilość </strong><span class="text-muted" th:text="${cartItem.quantity}"></span></h6>
              </div>
              <div class="col-xs-6">
                <form th:action="@{/cart/products/plus}" method="post">
                  <input type="hidden" name="cartId" th:value="${cartId}" />
                  <input type="hidden" name="productId" th:value="${cartItem.product.id}" />
                  <button type="submit" class="btn btn-success btn-xs">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </form>
                <form th:action="@{/cart/products/remove}" method="post">
                  <input type="hidden" name="cartId" th:value="1" />
                  <input type="hidden" name="productId" th:value="${cartItem.product.id}" />
                  <button type="submit" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </form>
                <form th:action="@{/cart/products/delete}" method="post">
                  <input type="hidden" name="cartId" th:value="1" />
                  <input type="hidden" name="productId" th:value="${cartItem.product.id}" />
                  <button type="submit" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- Koniec listy produktów z koszyka -->
          <hr>
        </div>
        <div class="panel-footer">
          <div class="row text-center">
            <div class="col-xs-9">
              <h4 class="text-right" >CENA : <span th:text="${totalCartValue}"></span></h4>
            </div>
            <div class="col-xs-3">
              <button type="button" class="btn btn-success btn-block">
                Checkout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
