<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>BestBuyKamps - Contact</title>
    <!-- Favicon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../styles.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-light bg-light sticky-top" >
  <a class="navbar-brand" href="index.html">BestBuyKamps</a>
  <form class="form-inline">
    <button type="button" class="btn btn-outline-secondary mr-3">Products</button>
    <button type="button" class="btn btn-outline-secondary mr-3">Sale</button>
    <button type="button" class="btn btn-outline-secondary mr-3">Cart</button>
    <button type="button" class="btn btn-outline-secondary mr-3">Log in</button>
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<!-- Footer-->
<section class="fixed-bottom mb-1 bg-dark p-1 ">
            <span id="icons-footer">
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-0" href="https://www.linkedin.com/in/paweł-janowicz-4238a2223" role="button"><i class="bi bi-linkedin"></i></a>

              <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-0" href="https://github.com/PawelJanowicz1" role="button"><i class="bi bi-github"></i></a>
                </span>
</section>
<script src="/templates/js/scripts.js"></script>
</body>
</html>