<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h5><span class="glyphicon glyphicon-ok-circle"></span> Registration Successful</h5>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        <img src="/images/success.png" alt="Registration Successful" style="max-width: 100%;">
                    </div>
                    <h1 class="text-center">Registration Successfully Completed!</h1>
                    <hr>
                    <div class="text-center">
                        <a href="/login" class="btn btn-primary btn-lg">Back to Login Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
